body {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: whitesmoke
}
body.pushable > .pusher {
  background: #292C2F;
}
.ui.inverted.segment {
  background: transparent;
}

.headshot {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin-top: 70px;
}
a.toc.item {
  height: 30px;
  width: 30px;
}
img.hamburger {
  height: 35px;
  width: 35px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
/* typed.js cursor blink (from mattboldt.com) */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
